* {
  font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}

.promo {
  max-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../../images/header_bg.jpg) center center/cover no-repeat;
}

.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 90px;
}

.promo__header {
  color: #ffffff;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 42px;
}

.promo__subheader {
  margin-top: 17px;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.promo__icons {
  width: 425px;
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo__icon {
  width: 108px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.promo__icon img {
  width: 42px;
  height: 46px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.promo__link {
  margin-top: 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.promo__link a {
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 250px;
}

.header__logo img {
  width: 100%;
}

.header__official {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.header__official span {
  display: block;
  font-size: 18px;
}

.header__phone {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

.header__phone:hover {
  color: #fff;
  text-decoration: none;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #c70101;
  border: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.button_main {
  margin-top: 67px;
  width: 300px;
  height: 50px;
  color: #ffffff;
  font-size: 16px;
}

.button_submit {
  width: 100%;
  height: 55px;
  font-size: 16px;
}

.button_mini {
  width: 131px;
  height: 40px;
  font-size: 14px;
}

.advantages {
  padding: 69px 0 95px 0;
  background-color: #F6F6F6;
}

.advantages .title {
  text-align: center;
  font-size: 30px;
}

.advantages__wrapper {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 238px;
}

.advantages__subtitle {
  margin-top: 38px;
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 700;
}

.advantages__descr {
  margin-top: 26px;
  text-align: center;
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 300;
}

.advantages__descr a {
  color: #ff0000;
  text-decoration: underline;
  font-size: 14px;
}

.consultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url(../../images/consultation_bg.jpeg) center center/cover no-repeat;
}

.consultation__descr {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.title {
  color: #0d0d0d;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.title_left {
  color: #ffffff;
  font-size: 36px;
  text-align: start;
}

.feed-form {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.feed-form input {
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 15px;
  padding: 0 20px;
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 300;
}

.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}

.carousel {
  padding: 81px 0;
}

.carousel__inner {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
}

.carousel .slick-prev, .carousel .slick-next {
  position: absolute;
  top: 50%;
  left: -66px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background-color: #fff;
}

.carousel .slick-prev img, .carousel .slick-next img {
  width: 31px;
  height: 50px;
}

.carousel .slick-next {
  right: -66px;
  left: auto;
}

.carousel__inner ul.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel__inner .slick-dots li {
  list-style: none;
  margin: 0 15px;
}

.carousel__inner .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: red;
  border: none;
  border-radius: 50%;
}

.carousel__inner .slick-dots li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #c70101;
  border-radius: 50%;
  margin: 23px 0;
  padding: 0;
}

.carousel__inner .slick-dots li.slick-active button {
  background-color: transparent;
  border: 2px solid  #c70101;
  width: 15px;
  height: 15px;
}

.catalog {
  padding-bottom: 100px;
}

.catalog__tabs {
  margin-top: 70px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

.catalog__tab {
  width: 220px;
  height: 50px;
  border: 2px solid #d0d0d0;
  color: #6b6b6b;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.catalog__tab:hover {
  border: 2px solid #c70101;
}

.catalog__tab div {
  -webkit-transform: skewX(25deg);
          transform: skewX(25deg);
}

.catalog__tab-active {
  color: #fff;
  background-color: #c70101;
  border: none;
}

.catalog__content {
  margin-top: 60px;
}

.catalog-item {
  width: 300px;
  min-height: 440px;
  border: 2px solid #e8e8e8;
  padding: 20px 20px 26px 20px;
}

.catalog-item__img {
  max-width: 100%;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.catalog-item__subtitle {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #0d0d0d;
  text-align: center;
}

.catalog-item__descr {
  margin-top: 16px;
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.catalog-item__link {
  display: block;
  margin-top: 17px;
  color: #c70101;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
}

.catalog-item__link:hover {
  color: #c70101;
}

.catalog-item hr {
  background-color: #e8e8e8;
  margin-top: 19px;
  margin-bottom: 21px;
  height: 1px;
  border-bottom: none;
}

.catalog-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-item__old-price {
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
}

.catalog-item__price {
  color: #050505;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 991px) {
  .promo {
    padding: 24px 40px 91px 40px;
  }
}

@media (max-width: 767px) {
  .header__phone {
    font-size: 17px;
  }
  .header__official {
    display: none;
  }
  .promo__header {
    font-size: 38px;
    margin: 0 auto;
  }
  .promo__subheader {
    font-size: 21px;
    margin: 0 auto;
    margin-top: 12px;
  }
  .promo__icons {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .promo__link {
    margin: 0 auto;
  }
  .button_main {
    width: 250px;
    font-size: 15px;
    display: block;
    margin: 45px auto;
  }
}

@media (max-width: 575px) {
  .header__logo {
    width: 125px;
  }
  .header__phone {
    font-size: 15px;
  }
  .button {
    width: 137px;
    font-size: 12px;
  }
  .button_main {
    width: 180px;
    height: 45px;
    margin: 70px auto 0;
  }
  .promo {
    padding: 20px 15px;
    max-height: 450px;
  }
  .promo__wrapper {
    margin-top: 55px;
  }
  .promo__header {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
  }
  .promo__subheader {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
  }
  .promo__icons {
    display: none;
  }
  .promo__link {
    margin: 12px auto;
  }
}

@media (max-width: 991px) {
  .advantages {
    padding: 70px 20px 60px 20px;
  }
  .advantages__item {
    width: 215px;
  }
  .advantages__wrapper {
    margin-top: 55px;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding: 70px 20px 60px 20px;
  }
  .advantages__item {
    width: 215px;
  }
  .advantages__item:last-child {
    margin-top: 23px;
  }
  .advantages__subtitle {
    margin-top: 10px;
  }
  .advantages__descr {
    margin-top: 15px;
  }
  .advantages__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 575px) {
  .advantages {
    padding: 50px 20px;
  }
  .advantages .title {
    font-size: 25px;
  }
  .advantages__item {
    margin-top: 22px;
  }
  .advantages__wrapper {
    margin-top: 25px;
  }
}

@media (max-width: 991px) {
  .consultation {
    min-height: 500px;
    padding: 55px 20px 45px 20px;
  }
  .consultation__descr {
    font-size: 17px;
    margin-top: 23px;
    line-height: 25px;
    text-align: center;
  }
  .title_left {
    margin-top: 30px;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
  }
  .feed-form {
    width: 50%;
    margin-top: 45px;
    margin: 45px auto;
  }
}

@media (max-width: 767px) {
  .feed-form {
    width: 60%;
  }
  .feed-form input {
    margin-bottom: 22px;
  }
  .feed-form input:nth-child(3) {
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .title_left {
    margin: 0;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
  }
  .hidden_sm {
    font-size: 14px;
  }
  .feed-form {
    width: 85%;
  }
  .button_submit {
    width: 100%;
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .carousel__inner {
    width: 100%;
  }
  img {
    margin: 0 auto;
    max-width: 80%;
    max-height: 80%;
  }
}

@media (max-width: 767px) {
  .carousel__inner {
    width: 100%;
  }
  img {
    margin: 0 auto;
    max-width: 70%;
    max-height: 70%;
  }
}

@media (max-width: 575px) {
  .carousel {
    padding: 40px 0;
  }
  __inner {
    width: 100%;
  }
  img {
    margin: 0 auto;
    max-width: 65%;
    max-height: 65%;
  }
  .slick-dots li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=style.css.map */