.carousel {
    padding: 81px 0;
    &__inner {

  
        position: relative;
        max-width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        left: -66px;
        transform: translateY(-50%);
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }

    }
    .slick-next {
        right: -66px;
        left: auto;
    }
}
.carousel__inner ul.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.carousel__inner .slick-dots li {
   list-style: none;
   margin: 0 15px;
}
.carousel__inner .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: red;
    border: none;
    border-radius: 50%;

 }
.carousel__inner .slick-dots li button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c70101;
    border-radius: 50%;
    margin: 23px 0;
    padding: 0;
    
}
.carousel__inner .slick-dots li.slick-active button {
    background-color: transparent;
    border: 2px solid  #c70101;
    width: 15px;
    height: 15px;
}






