@media (max-width: 991px) {
    .carousel__inner {
        width: 100%;
    }
    
    img {
        margin: 0 auto;
        max-width: 80%;
        max-height: 80%;
    }
}
@media (max-width: 767px) {
    .carousel__inner {
        width: 100%;
    }
    
    img {
        margin: 0 auto;
        max-width: 70%;
        max-height: 70%;
        
    }
}
@media (max-width: 575px) {
    .carousel {
        padding: 40px 0;
    }
    &__inner {
        width: 100%;
    }
    
    img {
        margin: 0 auto;
        max-width: 65%;
        max-height: 65%;
    }
    .slick-dots li {
        display: flex;
        justify-content: space-between;
    }
}
